.file {
  margin: 10px auto;
  border-bottom: solid 1px #ccc;
  display: grid;
  grid-template-columns: 1fr 4fr repeat(4, 1fr);
  align-items: center;
}
.file:hover {
  transform: scale(1.02);
}
.file__img {
  justify-self: center;
	width: 50px;
	height: auto;
	padding: 5px;
}
.file__date {
  grid-column-start: 5;
  justify-self: center;
}
.file__size {
  grid-column-start: 6;
  justify-self: center;
}
.file__btn {
  display: none;
}

.file__button_img {
  width: 22px;
  height: auto;
}

.file__plate_button_img {
  width: 22px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.file__delete, .file__download {
  display: none;
}

.file:hover .file__date {
  grid-column-start: 3;
}
.file:hover .file__size {
  grid-column-start: 4;
}
.file:hover .file__download {
  grid-column-start: 5;
  display: block;
  margin: 0 10px;
}

.file__download:hover, .file__plate_download:hover {
  cursor: pointer;
  background: rgba(34, 187, 3, 0.2);
  border: 1px solid #cccc;
  border-radius: 2px;
}

.file__delete:hover, .file__plate_delete:hover {
  cursor: pointer;
  background: rgba(240, 38, 3, 0.2);
  border: 1px solid #cccc;
  border-radius: 2px;
}

.file:hover .file__delete {
  grid-column-start: 6;
  display: block;
  margin: 0 10px;
  cursor: pointer;
}

.file__plate {
  width: 150px;
  height: 150px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.file__plate_img {
  height: 70px;
  width: 70px;
}
.file__plate_btns {
  display: none;
}
.file__plate:hover .file__plate_btns {
  display: flex;
}